
#bgImg {
	width: 100%; 
	height: 150%; 
	position: absolute; 
	z-index: 2;
}

#fgImg {
	width: 50%; 
	left: 25%; 
	top: 30%; 
	position: absolute; 
	z-index: 3;
}

#mapwrap {
	position: relative;
	overflow: hidden;
	margin: 5px;
	width: 100%;
	height: 750px;
}

.category, .category * {
	margin: 0;
	padding: 0;
	color: #000;
}

.category {
	position: absolute;
	overflow: hidden;
	top: 10px;
	left: 10px;
	width: 250px;
	height: 50px;
	z-index: 10;
	border: 1px solid black;
	font-family: 'Malgun Gothic', '맑은 고딕', sans-serif;
	font-size: 10px;
	text-align: center;
	background-color: #fff;
}

.category .menu_selected {
	background: #FF5F4A;
	color: #fff;
	margin: 0 -1px;
}

.category li {
	list-style: none;
	float: left;
	width: 50px;
	height: 45px;
	padding-top: 5px;
	cursor: pointer;
}

.category .ico_comm {
	display: block;
	margin: 0 auto 2px;
	width: 22px;
	height: 26px;
	background-image: url(category.png);
	background-repeat:no-repeat;
}

.category .ico_coffee {
	background-position: -10px 0;
}

.category .ico_water {
	background-position: -10px -108px;
}

.category .ico_food {
	background-position: -10px -144px;
}

.category .ico_store {
	background-position: -10px -36px;
}

.category .ico_carpark {
	background-position: -10px -72px;
}
